.dark .aboutMainCont {
  background-color: rgba(3, 63, 93, 1);
}
.aboutConts {
  padding-top: 30px;
  padding-bottom: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
  font-family: "Montserrat Alternates";
}
.aboutCont1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  height: auto;
}
.aboutCont1 img {
  height: 50vh;
  width: 100%;
}
.aboutCont2,
.aboutCont3,
.members {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: auto;
  gap: 40px;
  text-align: center;
}
.aboutCont2 h1,
.aboutCont3 h1,
#aboutUsMainH1 {
  color: rgba(255, 99, 146, 1);
  text-align: center;
  font-family: "Nanum Brush Script";
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.aboutCont2 p,
.members p {
  color: rgba(0, 0, 0, 1);
}
.aboutCont3 p {
  text-align: start;
}
/* .member {
    display: flex;
}
.member img {
    width: 50%;
    height: auto;
} */
#teo,
#mari {
  display: flex;
  flex-direction: row-reverse;
}
