.pageService,
.contact,
.prices {
  /* background-color: #fff; */
  padding: 2% 10%;
  display: flex;
  flex-direction: column;
  gap: 66px;
  color: #023047;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dark .pageService,
.dark .contact {
  background-color: rgba(3, 63, 93, 1);
  color: #5aa9e6;
}

.pageService .image {
  width: 100%;
  height: auto;
}
.serviceCardsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 80px;
}

.serviceCard {
  border-radius: 12px;
  padding: 40px;
  font-size: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.serviceCard:hover {
  cursor: pointer;
  transform: scale(1.07);
  transition: transform 1.8s ease;
}

.GD {
  background-color: rgba(255, 99, 146, 1);
}

.UX {
  background-color: rgba(90, 169, 230, 1);
}

.FR {
  background-color: rgba(123, 97, 255, 1);
}

.BK {
  background-color: rgba(255, 222, 61, 1);
}

.serviceCard h2 {
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
}

.serviceCard p {
  margin: 10px 0;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .serviceCardsGrid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .serviceCard {
    padding: 30px;
    font-size: 14px;
  }

  .serviceCard h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .serviceCard:hover {
    transform: scale(1.05);
    transition: transform 0.8s ease;
  }
}

@media (max-width: 480px) {
  .serviceCard {
    padding: 20px;
    font-size: 13px;
  }

  .serviceCard h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .serviceCardsGrid {
    gap: 30px;
  }

  .serviceCard p {
    margin: 5px 0;
  }
}

@media screen and (max-width: 600px) {
  .pageService .image {
    height: auto;
  }
}
