.calculation-page {
  padding: 2% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calculation-page textarea {
  width: 100%;
  height: auto;
}
.CalcSection2 {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.calculation-page .category h2,
.calculation-page .category h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  border-radius: 20px 20px 0px 0px;
  border: 2px solid #ff6392;
  background: rgba(255, 99, 146, 0.5);
}
.calculation-page .category h3 {
  border-radius: 0px 0px 0px 0px;
}
.categories {
  display: flex;
  min-width: 100%;
  justify-content: center;
  gap: 10vw;
}
.category {
  width: 100%;
}
.calculation-page .checkbox-label {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #ff6392;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}

.calculation-page .checkbox-label input {
  display: none;
}

.calculation-page .checkbox-label .custom-checkbox {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: 2px solid #156eb3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.calculation-page .checkbox-label .custom-checkbox svg {
  display: none;
}

.calculation-page .checkbox-label input:checked + .custom-checkbox svg {
  display: block;
}

.submit2-button {
  background-color: #156eb3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.submit2-button:hover {
  background-color: #104a85;
}
.calculation-page input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #156eb3;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.calculation-page input[type="checkbox"]:checked {
  background-color: #156eb3; /* Change background to blue when checked */
}

.calculation-page input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white; /* Change check icon color to white */
  transform: translate(-50%, -50%);
}

.sub-category-content.expand label {
  flex-direction: row-reverse;
  display: flex;
  justify-content: space-between;
  margin: 10px 22px;
}

.icon {
  width: 24px;
  height: 24px;
  transition: transform 0.6s ease; /* Smooth transition for rotation */
  transform-origin: center;
}

.icon.rotate {
  transform: rotate(180deg); /* Rotate the icon */
}
.sub-category-content {
  max-height: 0;
  opacity: 1;
  overflow: hidden;
  transition: max-height 0.9s ease, opacity 0.5s ease; /* Smooth transition for height */
}

.sub-category-content.expand {
  max-height: 500px;
  opacity: 1;
  flex-direction: column;
  display: flex;
  border: 2px solid #ff6392;
}

@media screen and (max-width: 800px) {
  .categories {
    flex-wrap: wrap;

    gap: 1vw;
  }
}
