.footerContainer {
    display: flex;
    flex-direction: column;
    height: 200px;
    text-align: center;
    background-color: rgba(243, 217, 220, 1); /* Light background for dark theme */
    color: rgba(27, 10, 72, 1); 
}

.footerContainer.dark {
    background-color: rgba(2, 48, 71, 1); 
    color: rgba(90, 169, 230, 1);
}
.footerContents{
    display: flex;
    justify-content: space-around;
    padding: 0px 40px 0px 0px;
}
.footerContent1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footerContent1 .socialIcons {
  display: flex;
  gap: 20px;
}
.socialIcons img {
    height: 32px;
    width: 32px;
    background-color: white;
    border-radius: 30%;
    
}
.socialIcons img:hover {
    cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.footerContent2 ul {
    list-style: none;
    text-align: center;
    line-height: 2.0;
}
.footerContent2 li a {
    text-decoration: none;
    color: rgba(27, 10, 72, 1); 
}
.dark .footerContent2 li a {
    color: rgba(90, 169, 230, 1);
}
.dark .footerContent2 li a:hover,
.dark .footerContent3 ul li:hover {
    color: rgb(144, 192, 229);
}
.footerContent2 li a:hover,
.footerContent3 ul li:hover {
    text-decoration: none;
    color: rgb(81, 56, 151); 
}
.footerContent3 ul li{
display: flex;
align-items: center;
gap: 30px;
line-height: 0.3;
}

.footerContent3 ul li img{
    height: 24px;
    width: 24px;
}
.copyRight {
    display: flex;
    justify-content: end;
    background-color: inherit;
    margin-top: -10px;
    padding: 0px 20px;
}